@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.header-ul li{
  
    display:inline-block;
    list-style: none;
    text-decoration: none;


}
*{
  font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Poppins', sans-serif;
}
a:hover{
  font-size: 1.3rem;
  transition: all 0.3s ease-out;
  background-color: black;
  border-radius: 0.5rem;
  color:white;
  padding-left:10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-name{
    text-align: center;
    margin-top:3rem;
}
.header-ul {
  margin-top:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap:4rem;
   height: 2rem;
  
}

.footer{
  border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  bottom: 0;
  left: 0;
  right:0;
  background-color: black;
  color:white;
}

.register-header{
 text-align: center;
}
.register-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  gap: 2rem;
}
.inputBox{
padding:1rem;
border-radius: 0.5rem;  
border:1px solid gray;
outline: none;

}
.appButton{
  margin-top: 1rem;
  padding:1rem 2rem;
  border:1px solid black;
  border-radius: 0.5rem;
  background-color: black;
  color:white;
  cursor: pointer;
  box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.appButton:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }}

  .invalid-input{
    color:black;
    border:1px dashed black;
    padding:5px 15px;
    font-size:15px;
  }

  .add-box{
    text-align: center;
  }

  .register-box-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .product-lists {
    text-align: center;
    margin-top: 50px;
  }
  .product-lists ul{
    margin: 0 ;
  }
  .product-lists ul li{
  display: inline-block;
  border:1px solid black;
  padding:5px;
  width: 150px;
  }
  .btn-delete{
    border:1px solid black;
    cursor: pointer;
    background-color: black;
    color:white;
    padding: 0;
    border-radius: 0.5rem;
    font-size:13px;

  }
   .btn-delete:hover {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        perspective: 1000px;
      }
.add-new{
}
.add-new-box{
  margin-top: 4rem;
  text-align: center;
}
.update-one{
margin-left: 5px;
font-size: 13px;
}
.update-one:hover{
   font-size: 14px;
    transition: all 0.3s ease-out;
    background-color: white;
    border-radius: 0;
    color: black;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
   
  text-decoration: underline;
}